---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/123/information?apiKey=296c69ea4ec3407d848370782126a86d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.0'
      X-Api-Quota-Used:
      - '81.31999999999995'
    body:
      encoding: ASCII-8BIT
      string: '{"vegetarian":false,"vegan":false,"glutenFree":true,"dairyFree":false,"veryHealthy":false,"cheap":false,"veryPopular":false,"sustainable":false,"weightWatcherSmartPoints":2,"gaps":"no","lowFodmap":false,"aggregateLikes":7,"spoonacularScore":57.0,"healthScore":12.0,"pricePerServing":164.56,"extendedIngredients":[{"id":15001,"aisle":"Seafood","image":"fresh-anchovies.jpg","consistency":"solid","name":"anchovy","nameClean":"anchovies","original":"1
        anchovy, chopped","originalString":"1 anchovy, chopped","originalName":"anchovy,
        chopped","amount":1.0,"unit":"","meta":["chopped"],"metaInformation":["chopped"],"measures":{"us":{"amount":1.0,"unitShort":"","unitLong":""},"metric":{"amount":1.0,"unitShort":"","unitLong":""}}},{"id":9037,"aisle":"Produce","image":"avocado.jpg","consistency":"solid","name":"avocado","nameClean":"hass
        avocado","original":"1/2 ripe avocado","originalString":"1/2 ripe avocado","originalName":"ripe
        avocado","amount":0.5,"unit":"","meta":["ripe"],"metaInformation":["ripe"],"measures":{"us":{"amount":0.5,"unitShort":"","unitLong":""},"metric":{"amount":0.5,"unitShort":"","unitLong":""}}},{"id":11156,"aisle":"Produce","image":"fres[...]
