<ul class="nav nav-tabs">
  <li class="nav-item">
    <% unless @skip_dashboard %>
      <%= render partial: "/shared/render_dashboard" %>
    <% end %>
  </li>
  <li class="nav-item">
    <% unless @skip_shopping_list  %>
      <%= render partial: "/shared/render_shopping_list" %>
    <% end %>
  </li>
  <li class="nav-item">
    <% unless @skip_search_recipes %>
      <%= render partial: "/shared/render_search_recipes" %>
    <% end %>
  </li>
</ul>

<ul id="nav-item">
  <li> <%=link_to 'Log Out',logout_path, class: "list-group-item list-group-item-danger", method: :delete, value: "logout" %></li>
</ul>
