<ul class="nav nav-tabs">
  <li class="nav-item">
    <% unless @skip_dashboard %>
      <%= render partial: "/shared/render_dashboard" %>
    <% end %>
  </li>
  <li class="nav-item">
    <% unless @skip_search_recipes %>
      <%= render partial: "/shared/render_search_recipes" %>
    <% end %>
  </li>
</ul>

<ul id="nav-item">
   <%=link_to 'Log Out',logout_path, class: "btn btn-outline-primary", method: :delete, value: "logout" %>
</ul>
