<h1>Welcome To Recipes On Rails</h1>

<p>This app allows you to create meal plans based on meals that share common ingredients with one another. Share meal plans and order from store through the app.</p>

<%= link_to "Login With Kroger", "https://api.kroger.com/v1/connect/oauth2/authorize?scope=profile.compact&client_id=#{ENV['kroger_client_id']}&redirect_uri=#{ENV['kroger_redirect_uri']}" %>

<%= button_to "Create an Account", 'https://www.kroger.com/account/create?redirectUrl=/' %>
