/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

.card {
  float: left;
  color: darkturquoise;
  background-color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
}

.card-title{
  padding: 10px;
  padding-bottom: 75px;
}

.body-color {
  background-color: lightgreen;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fantasy", "Copperplate";
  font-size: 30px;
  padding-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: left;
  overflow: hidden;
}

.container-left {
  float: left;
  margin-right: 100px;
}

.container-right {
  float: center;
  margin-left: 100px;
}

.dashboard-btns {
  float: center;
}

.nav-item {
  margin: 15px;
}

.btn {
  color: white;
}

.btn-outline-primary{
  background-color: red;
}

.btn-outline-secondary{
  background-color: black;
}

.footer-trademark {
  float: right;
  font-family: "Fantasy", "Copperplate";
  font-size: 50px;
}
